
<h2>Hot products</h2>
<ul class="products columns-4 cart" style="padding-top: 15px" sizes="(min-width: 1200px) 210px, (min-width: 992px) 241px, (max-width: 600px) and (min-width: 412px) 140px, (max-width: 411px) and (min-width: 360px) 100px, 360px">
    {% for i in hot_views %}

        <li class="post-144 product type-product status-publish has-post-thumbnail product_cat-boy-shoes product_cat-shoes first instock featured shipping-taxable purchasable product-type-simple">
            <div class="ip-shop-loop-wrap">
                <div class="ip-shop-loop-thumb">
                    <span class="ip-shop-loop-new-badge" style="background-color: red">Hot</span>
                    <a href="/product/{{ i.masanpham }}">
                        <img src="./images/{{ i.hinhurl }}" class="thumb-shop-catalog front">
                    </a>
                </div>
                <div class="ip-shop-loop-details">
                    <a href="/product/{{ i.MaSanPham }}">
                        <h3> {{ i.TenSanPham }}</h3>
                    </a>
                </div>
                <div class="ip-shop-loop-after-title">
                    <div class="ip-shop-loop-price">
                        <span class="price">
                            <span class="woocommerce-Price-amount amount">
                                <span class="woocommerce-Price-currencySymbol">₫ </span>{{ i.giasanpham }}
                            </span>
                        </span>
                    </div>
                    <div class="ip-shop-loop-actions">
                        <a href="/cart/add/ {{ i.masanpham }}"  class="button product_type_simple add_to_cart_button ajax_add_to_cart" aria-label="Add “{{ i.tensanpham }}” to your cart" rel="nofollow">
                            <svg class="svg-add">
                                <use xlink:href="#svg-cart">

                                </use>
                            </svg>
                            Add to cart
                        </a>
                        <span class="ip-shop-loop-loading"></span>

                        <a href="/product/{{ i.MaSanPham }}" data-title="{{ i.soluocxem }}  View"
                           data-product_id="116" class="ip-quickview-btn product_type_simple">
                            <svg>
                                <use xlink:href="#svg-quick-view"></use>
                            </svg>
                        </a>
                        <a></a>
                    </div>
                </div>
            </div>
        </li>

    {% endfor %}
</ul>
